#addBookOption,
#optionPanel{
  font-size: 20px;
  width: 40%;
  height: 60px;
}

#mainTitle{
  font-size: 2.5em;
  height: 2em;
  width: 60%;
  gap: 10px;
}

#optionRowContainer{
  gap: 20px;
}

#filterOption,
#sortOption,
#statOption{
  display: flex;
  align-items: center;
  justify-content: center;
}

#selectFilteringType,
#selectFilteringReadingState{
  width: 110px;
}

.typeSelector {
  position: relative;
}

.typeSelectorButton,
.typeSelectorOption {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 8px;
}

.typeSelectorButton {
  gap: 4px;
  cursor: pointer;
}

.typeSelectorOption {
  cursor: pointer;
}

.typeSelectorButton:hover,
.typeSelectorOption:hover {
  background: #3c3d36;
}

.typeSelectorMenu {
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 4px;

  padding-top: 4px;
}

.typeSelectorOption {
  flex-shrink: 0;
}