#addBookOption,
#optionPanel{
  font-size: 20px;
  width: 33%;
  height: 60px;
}

#mainTitle{
  font-size: 40px;
  width: 33%;
  height: 60px;
}

#optionRowContainer{
  gap: 20px;
}

#filterOption,
#sortOption,
#statOption{
  display: flex;
  align-items: center;
  justify-content: center;
}