.card{
  border: var(--main-theme-color) solid 2px;
  background-color: var(--counter-background-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  margin: 12px;
  padding:16px;
}

.rowContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.columnContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap : 4px;
}

.displayData{
  border: var(--main-theme-color) solid 2px;
  background-color: var(--counter-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  height: 80px;
  width: 180px;
  margin: 6px;
  padding:2px;
}

.display-title {
  font-size: 14px;
  font-weight: 500;
}

.display-value {
  margin-top: 4px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}